<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Deepfence  </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/static/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
	<link href="/static/json-viewer/jquery.json-viewer.css" rel="stylesheet"/>
	<style type="text/css">
	  	pre#json-renderer {
			border: 1px solid #aaa;
			padding: 0.5em 1.5em;
	}
	</style>


  <script type="text/JavaScript">
  		var aggr_chart ;
  		var aggr_chart_info = {"client":"{{es_server|safe}}",
  				
  		}
		function createGraph(div_id, chart_type, chart_title, subtitle,categories,yaxis_title,tooltip_point_format,plot_options_marker, series){
			aggr_chart= Highcharts.chart(div_id, {
		        chart: {
		            type: chart_type
		        },
		        title: {
		            text: chart_title
		        },
		        subtitle: {
		            text: subtitle,
		        },
		        xAxis: {
		            categories: categories,
		            tickmarkPlacement: 'on',
		            title: {
		                enabled: false
		            }
		        },
		        yAxis: {
		            title: {
		                text: yaxis_title,
		            },
		        },
		        tooltip: {
		            pointFormat: tooltip_point_format
		        },
		        plotOptions: {
		        	column: {
		                marker: plot_options_marker,
		                minPointLength:1
		            }
		        },
		        series: series
		    });
		}

  		var selected_index;  // FIXME : Do it OOPS JS Way,,, 
  		var selected_mapping; // FIXME : Do it OOPS JS Way,,, 
  		function load_fields(index_name , mapping_name){
  			$.get("/fields/"+index_name+"/"+ mapping_name+"/", function(data, status){
  				selected_index = data['index_name'];
  				selected_mapping = data['mapping_name'];
  				$(".index_name").html(selected_index);
  				$(".mapping_name").html(selected_mapping);
  				$("#field_box").show()
  				$select =$("#select_fields"); 
  				$("#select_fields").find('option').remove()
  				$select.find('option').remove();                          
  				$.each(data['fields'],function(key, value) 
  						{
  						    $select.append('<option value=' + value + '>' + value + '</option>');
  						});
  				if (aggr_chart){
  					aggr_chart.destroy();aggr_chart=undefined;
  				}
  				 $('#json_viewer').html("");
  				//$("#box_title").html(selected_index+ " >> <small>" +mapping_name + "</small>");
  				
  		        //alert(JSON.stringify(data['fields']));
  		    });
  		}
  		
  		function save_aggr_graph(){
  			alert("hi");
  			var save_as = $("#save_as").val().trim();
  			debugger;
  			if (!save_as){
  				$(".alert").addClass("alert-warning")
  				$(".alert span").html("Enter the name to be saved as");
  				$(".alert").show(400)
  				
  			}
  			if(!aggr_chart){
  				$(".alert").addClass("alert-warning")
  				$(".alert span").html("No chart to be saved .. ");
  				$(".alert").show(400)
  				
  			}else{

  				$.ajax({
  	  			  url: "/save_graph/",
	  	  		  method: "POST",
	  	  		  data:aggr_chart_info,
  	  			  success: function(data) {
						alert(JSON.stringify(data));
  	  			  },
  	  			  error: function(XMLHttpRequest, textStatus, errorThrown) { 
  	  			    if (XMLHttpRequest.status == 0) {
  	  			      alert(' Check Your Network.');
  	  			    } else if (XMLHttpRequest.status == 404) {
  	  			      alert('Requested URL not found.');
  	  			    } else if (XMLHttpRequest.status == 500) {
  	  			      alert('Internel Server Error.');
  	  			    }  else {
  	  			       alert('Unknow Error.\n' + XMLHttpRequest.responseText);
  	  			    }     
  	  			  }
  	  			});
  			}
  			
  		}
  		
  		function generate_aggr_graph(){
  			$("#aggr_graph_div").html("");
  			var field = $("#select_fields").val();
  			var chart_type = $("#select_chart_type").val();
  			var ajax_url = "/aggr_graph/"+selected_index+"/"+ field +"/"+chart_type+"/";
  			// console.log(ajax_url)
  			
  			aggr_chart_info['index']=selected_index;
  			aggr_chart_info['field']=field;
  			aggr_chart_info['chart_type']=chart_type;
  			
  			$.ajax({
  			  url: ajax_url,
  			  success: function(data) {
  				createGraph("aggr_graph_div", data['chart_type'], data['chart_title'], data['subtitle'],data['categories'],data['yaxis_title'],data['tooltip_point_format'],data['plot_options_marker'], data['series'])        
  			  },
  			  error: function(XMLHttpRequest, textStatus, errorThrown) { 
  			    if (XMLHttpRequest.status == 0) {
  			      alert(' Check Your Network.');
  			    } else if (XMLHttpRequest.status == 404) {
  			      alert('Requested URL not found.');
  			    } else if (XMLHttpRequest.status == 500) {
  			      alert('Internel Server Error.');
  			    }  else {
  			       alert('Unknow Error.\n' + XMLHttpRequest.responseText);
  			    }     
  			  }
  			});
  		}
  		function execute_query(){
  			$("#aggr_graph_div").html("");
  			var field = $("#select_fields").val();
  			var ajax_url = "/execute_query/"+selected_index+"/"+ field +"/";
  			var query = $("#search").val();
  			
  			// console.log(ajax_url)
  			
  			aggr_chart_info['index']=selected_index;
  			aggr_chart_info['field']=field;
  			
  			$.ajax({
  			  url: ajax_url,
  			  type: "POST",
  			  data: {"query":query},
  			  success: function(data) {
			  var options = {
			      collapsed: false,
			      withQuotes: false
			    };
			    $('#json_viewer').jsonViewer(data, options);
  			  },
  			  error: function(XMLHttpRequest, textStatus, errorThrown) { 
  			    if (XMLHttpRequest.status == 0) {
  			      alert(' Check Your Network.');
  			    } else if (XMLHttpRequest.status == 404) {
  			      alert('Requested URL not found.');
  			    } else if (XMLHttpRequest.status == 500) {
  			      alert('Internel Server Error.');
  			    }  else {
  			       alert('Unknow Error.\n' + XMLHttpRequest.responseText);
  			    }     
  			  }
  			});
  		}
  		
  </script>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="/static/index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>D</b>F</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>D</b>F</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
			  <li class="dropdown user user-menu">
			  <a class=".text-capitalize">{{request.user | title}}</a>
			  </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                
                <a href="/accounts/logout/" >
                	<span class="glyphicon glyphicon-log-out "></span>
                </a>
                
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- =============================================== -->

      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            {% if indices %}
            <li class="treeview">
              <a href="#">
                <i class="fa fa-database"></i> <span>Indexes</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              
              <ul class="treeview-menu">
              	{% for index,mappings in indices.items %}
                <li><a ><i class="fa  fa-angle-left pull-right"></i> {{index}}</a>
                  <ul class="treeview-menu">
                  {% for mapping in mappings %}
                    <li><a href="#" onclick="JavaScript:load_fields('{{index}}','{{mapping}}');"><i class="fa fa-file-text"></i> {{mapping}}</a></li>
                  {% endfor %}
                  </ul>
                </li>
                {% endfor  %}
              </ul>
            </li>

            {% endif %}
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

{%block container%}
{%endblock container%}

      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.3.0
        </div>
        <strong>Copyright 
      </footer>

      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- https://raw.githubusercontent.com/1000hz/bootstrap-validator/master/js/validator.js -->
    <script src="/static/bootstrap/js/validator.js"></script>
    <!-- SlimScroll -->
    <script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="/static/plugins/bodybuilder-master/browser/bodybuilder.min.js"></script>

    
    <!-- FastClick -->
    <script src="/static/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/static/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/static/dist/js/demo.js"></script>
    
    <script src="/static/js/highcharts.js"></script>
	<script src="/static/json-viewer/jquery.json-viewer.js"></script>
  
   
  </body>
</html>
