{% extends "base.html"%} {%block container%}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		<span class="index_name"></span> <small><span
			class="mapping_name"></span></small>
	</h1>
</section>

<!-- Main content -->
<section class="content" id="field_box" style="display: none">
	<!-- SELECT2 EXAMPLE -->
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">Generate Aggregation Graph</h3>

			<div class="pull-right box-tools">
				<button class="btn btn-primary btn-sm daterange pull-right"
					onclick="JavaScript:save_aggr_graph()" data-toggle="tooltip"
					title="" data-original-title="Date range">
					<i class="fa fa-save"></i>
				</button>
				<button class="btn btn-primary btn-sm pull-right"
					data-widget="collapse" data-toggle="tooltip" title=""
					style="margin-right: 5px;" data-original-title="Collapse">
					<i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Fields</label> <select class="form-control select2"
							id="select_fields" style="width: 100%;">

						</select>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label>Fields</label> <select class="form-control select2"
							id="select_chart_type" style="width: 100%;">

							<option value="column">Column</option>
							<option value="area">Area</option>
							<option value="bar">Bar</option>
						</select>
					</div>
					<!-- /.form-group -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.box-body -->
		<div class="box-footer">
			<button onclick=generate_aggr_graph(); type="submit"
				class="btn btn-primary">Generate</button>
		</div>
		<div class="box-body">
			<div id="aggr_graph_div"></div>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->






	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">Query Data</h3>
			<div class="pull-right box-tools">
				<button class="btn btn-primary btn-sm pull-right"
					data-widget="collapse" data-toggle="tooltip" title=""
					style="margin-right: 5px;" data-original-title="Collapse">
					<i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<input id="search" class="form-control" name="search"
							placeholder="Search Query">
					</div>
					<div class="box-footer">
						<button onclick=execute_query(); type="submit"
							class="btn btn-primary">Generate Result</button>
					</div>

					<div class="box-footer">
						<pre style="border: 1px solid #aaa;padding: 0.5em 1.5em;" id="json_viewer"></pre>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box-default -->
</section>




{%endblock container%}
